body{
    background-image: url('/static/img/bg.jpg');
    repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#title{
    text-align: center;
    margin-top: 15%;
    color: #ffffff;
    text-shadow: 4px 4px 4px #000000;
}
#resultContainer{
    padding-top: 5%;
}
#buttonSpace{
    margin-top: 1%;

}
img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 20%;
    max-height: 20%;
    padding-bottom: 70px 
}
