#title{
    text-align: center;
    margin-top: 20%;
    color: #ffffff;
    text-shadow: 4px 4px 4px #000000;
}
#searchArea{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
#search{
    margin-top: 2%;
}
body{
    background-image: url('/static/img/bg.jpg');
}
#category{
    border: none;
}
img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 20%;
    max-height: 20%;
}

